@import url('https://fonts.googleapis.com/css2?family=Fuzzy+Bubbles&family=My+Soul&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carme&family=Handlee&family=Nothing+You+Could+Do&family=Prompt:wght@300&display=swap');

/* Schriftarten: Fuzzy Bubbles , Carme , Handlee , Nothing you could do */

body {
    width: 100%;
    height: 100%;
}


header {
    display: flex;
    width: 50%;
    margin: 20px;
    padding: 1cm;
    border: 2px solid;
    justify-content: center;
    font-family: Handlee;
    font-size: 40px;
    background-image: url(https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIyLTA1L3Vwd2s2MjA1MDMzMS13aWtpbWVkaWEtaW1hZ2Utam9iNTcyLTEuanBn.jpg);
}

header:hover {
    width: 93%;
}

.navBar {
    display: flex;
    margin: 10px;
    padding: 0.5cm;
    border: 2px solid;
    justify-content: space-between;
    background: rgb(185,255,252);
    background: linear-gradient(202deg, rgba(185,255,252,1) 0%, rgba(154,179,245,1) 100%);

}

.link1 {
    margin: 5px;
    padding: 25px;
    border: 2px solid;
    background-color: beige;
}

.link1:hover {
    margin: 5px;
    padding: 25px;
    border: 2px solid;
    background-color: beige;
    animation: 3s rotate;
}

.link2 {
    margin: 5px;
    padding: 25px;
    border: 2px solid;
}

.link3 {
    margin: 5px;
    padding: 25px;
    border: 2px solid;
}

.link4 {
    margin: 5px;
    padding: 25px;
    border: 2px solid;
}


@keyframes rotate {
    100%{ transform: rotate(360deg); }
    }